.h-full {
  height: 100%;
}

.w-full {
  width: 100%;
}

.min-h-screen {
  min-height: 100vh;
}

.my-1 {
  margin: 0.5rem 0;
}

.my-2 {
  margin: 1rem 0;
}

.my-3 {
  margin: 1.5rem 0;
}

.my-4 {
  margin: 2rem 0;
}

.mt-4 {
  margin-top: 2rem;
}

.mb-2 {
  margin-bottom: 1rem;
}

.pr-2 {
  padding-right: 1rem;
}
