:root {
  --silver: #d7dae0;
  --cool-grey: #9ea3b2;
  --cool-grey-two: #a1a4ad;
  --dark-blue-grey: #1f2a4b;
  --dark-blue-grey-rgba: 31, 42, 75;

  --color-white: #fff;
  --color-bg-gray: #f6f7f8;
  --color-disabled: #e1e1e1;
  --color-brand: #4a77e5;
  --color-error: #dc3545;
  --color-error-rgba: 220, 53, 69;
  --color-succes: #198754;
  --color-succes-rgba: 25, 135, 84;
}
